name: Deploy to staging

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    # third-party action that cancels previous runs
    - name: Cancel Previous Runs
      uses: styfle/cancel-workflow-action@0.4.0
      with:
        access_token: ${{ github.token }}
    - name: Cloning repo
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Dokku deploy
      uses: dokku/github-action@master
      with:
        git_remote_url: 'ssh://dokku@app.etalab.studio/suivi-ouverture-staging'
        ssh_private_key: ${{ secrets.DOKKU_DEPLOYMENT_SSH_PRIVATE_KEY }}
